<?xml version="1.0"?>
<config>
    <modules>
        <MageProfis_Usps>
            <version>1.0.0.0</version>
        </MageProfis_Usps>
    </modules>
    <global>
        <helpers>
            <usps>
                <class>MageProfis_Usps_Helper</class>
            </usps>
        </helpers>
        <blocks>
            <usps>
                <class>MageProfis_Usps_Block</class>
            </usps>
        </blocks>
        <models>
            <usps>
                <class>MageProfis_Usps_Model</class>
            </usps>
        </models>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <usps>
                                            <title>Usps</title>
                                        </usps>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>
